body {
    background-color: #333333;
}

.navbar .custom-brand {
    color: white;
    font-size: 70px;
    font-family: 'titleFont';
    margin-right: 0px;
}

.d-flex {
    gap: 30px;
}

.navbar {
    margin-bottom: 0;
}

div.stripe-base {
    height: 10px;
    background-color: #FFEBD0;
    margin-bottom: 100px;
}

div.stripe {
    height: 10px;
    background-color: #FFEBD0;
    margin-bottom: 3rem;
}

div.accent {
    margin-top:20px;
    color:forestgreen;
    margin-bottom: 100px;
}

.button-div {
    margin-top: 20px;
}

input.form {
    margin-bottom: 5px;
    line-height: 3em; 
    width: 80px;
    text-align: center;
    font-weight: bold;
    background-color: #FFEBD0;
    border-radius: 10px;
}

input.form:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

input.button {
    border-radius: 10px;
    line-height: 2em;
    width: 100px;
    font-weight: bold;
}

input.button:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

form {
    margin-bottom: 250px;
}

@font-face {
    font-family: titleFont;
    src: url('titleFont.ttf') format("truetype");
}

@font-face {
    font-family: junegull;
    src: url('junegull.ttf') format("truetype");
}

@font-face {
    font-family: albas;
    src: url('ALBAS___.TTF') format("truetype");
}

.word {
    color: white;
}

.word-text{
    margin-bottom: 10px;
}